html {
    font-family: sans-serif;
}

body {
    margin: auto;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo > img{
    width: 246px; 
    height: 56px;
    margin-top: 236px;
}

footer {
    width: 240px;
    height: 19px;
    font-size: 14px;
    margin: auto;
}

.info {
    box-sizing: border-box;
    margin: 50px auto;
    height: 386px;
    max-width: 576px;
    width: 100%;
    padding: 0 10px;
    /* border: 1px solid black; */
}

.info .inputs .email input {
    border: none;
    font-size: 16px;
    padding-left: 10px;
}

.info .inputs .pwd input {
    border: none;
    font-size: 16px;
    padding-left: 10px;
}

.info .inputs .email {
    display: flex;
    border: 1px solid #CCCCCC;
}

.info .inputs .pwd {
    display: flex;
    margin-top: 20px;
    border: 1px solid #CCCCCC;

}

.info .inputs .email input{
    display: inline-block;
    width: 100%;
    height: 50px;
}

.info .inputs .pwd input{
    width: 100%;
    height: 50px;
}

.info .help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 42px;
}

.info .help input {
    zoom: 2;
}

.info .help label {
    display: flex;
    align-items: center;
    color: #555555;
}

.info .help a {
    color: #0074E9;
    text-decoration: none;
}

.info .help span::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #0074E9;
    border-right: 2px solid #0074E9;
    transform: rotate(45deg);
}

.info .buttons hr {
    margin: 22px 0;
}

.info .buttons .logIn {
    background: #0074E9;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 2px;
    border: 1px solid #555555;

}

.info .buttons .signUp {
    background: white;
    font-weight: bold;
    font-size: 18px;
    color: #0074E9;
    border-radius: 2px;
    border: 1px solid #555555;
}

.info .buttons input {
    width: 100%;
    height: 66px;
}

footer span {
    color: #C4C4C4;
}

