body {
    margin: auto;
}

header > img{
    width: 246px; 
    height: 56px;
    margin-top: 236px;
}

footer {
    width: 240px;
    height: 19px;
    font-size: 14px;
    margin: auto;
}

.info {
    margin: 50px auto;
    height: 386px;
    width: 576px;
    /* border: 1px solid black; */
}

.info .inputs .email input {
    border: none;
    font-size: 16px;
}

.info .inputs .pwd input {
    border: none;
    font-size: 16px;
}

.info .inputs .email {
    display: flex;
    border: 1px solid #CCCCCC;
}

.info .inputs .pwd {
    display: flex;
    margin-top: 20px;
    border: 1px solid #CCCCCC;

}

.info .inputs .email input{
    width: 100%;
    height: 50px;
}

.info .inputs .pwd input{
    width: 100%;
    height: 50px;
}

.info .help {
    margin-top: 22px;
    margin-bottom: 42px;
}

.info .help label {
    color: #555555;
}

.info .help span {
    float: right;
    color: #0074E9;
}

.info .buttons hr {
    margin: 22px 0;
}

.info .buttons .logIn {
    background: #0074E9;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 2px;
    border: 1px solid #555555;

}

.info .buttons .signUp {
    background: white;
    font-weight: bold;
    font-size: 18px;
    color: #0074E9;
    border-radius: 2px;
    border: 1px solid #555555;
}

.info .buttons input {
    width: 575px;
    height: 66px;
}

footer span {
    color: #C4C4C4;
}

